.app {
     /* Add app styles here */

}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  cursor: default;
}

.infobox {
        margin-top : 20px;
        position: absolute;
        width: 200px;
        padding: 10px;
        /*background-color: rgba(255,255,255,.75);*/
        /*242	242	242	15921906*/
        background: rgba(242, 242, 242, 0.9);
        -moz-border-radius: 15px;
        border-radius: 15px;
}

.title {
  font-weight:bold;
  text-align : center;

}

.item {
  /*font-weight:bold;*/
  text-align : left;
  padding:5px;
  -moz-border-radius: 15px;
  margin-top:5px;
  /*border-radius: 15px;*/
  /*background: rgba(242, 242, 255, 0.9);*/
  
}

.type1 {
    width: 10px;
    height: 10px;
    background: yellow;
    border: 3px solid red
}

.circleBase {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
}


.svg {
  position: relative;
}
.color-legend {
  float:right;
}