.app {
     /* Add app styles here */
}

.div-container {
  overflow: auto;
  /*width:1200px;*/
  height:600px;
  /*overflow: scroll;*/

  overflow-x: scroll; 
  /*overflow-y: auto;*/

  border-style:solid;
  border-width:1px;
  margin:5px;
  padding: 10px;
  border-style:dotted;
}

.graph-node {
  padding : 50px;
  margin: 5px;
  width: 100;
  height: 100;
}

.svg {
  overflow : auto;
  height: 16000px;
  width: 64000px;
}

.node rect {
    /*width : 100px;*/
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

.accepted-story {
  
  background-color:#66CC66;
}

.status-not-scheduled  {
  color:black;
  background-color: yellow;
}

.status-good  {
  color:white;
  background-color: green;
}

.status-bad {
  color:white;
  background-color: #FF6666;
}

.status-blocked {
  color:red;
}

.story-name {
  float: left;
  width : 175px;
}

.other-project {
  color:black;
  background-color: #FFFFCC;
}
