.app {
     /* Add app styles here */
}

.div-container {
  overflow: auto;
}

.graph-node {
  padding : 50px;
  margin: 5px;
  width: 100;
  height: 100;
}

.svg {
  overflow : auto;
  height: 32000,
  width: 32000;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

.accepted-story {
  color:white;
  background-color:green;
}

.status-not-scheduled  {
  color:black;
  background-color: yellow;
}

.status-good  {
  color:white;
  background-color: green;
}

.status-bad {
  color:white;
  background-color: red;
}

.status-blocked {
  color:red;
}

.story-name {
  float: left;
  width : 175px;
}
